@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.slide {
  background: -webkit-gradient(linear, left bottom, left top, from(#eef3f5), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #eef3f5, #fff);
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

.colleft {
  float: left;
  max-width: 48%;
  height: 600px;
  padding-left: 0;
}

.colright {
  float: right;
  max-width: 48%;
  height: 600px;
  padding: 0;
}

article h1 {
    color: white;
}

article h2 {
    color: rgb(215,31,56);
}

.slide-footer {
    position: absolute;
    bottom: 1ex;
    right: 1em;
    font-size: 66%;
    text-align: right;
    z-index: -2;
}

a.logabug {
    position: absolute;
    top: 1ex;
    right: 3em;
    font-size: 66%;
    text-align: right;
}

.fa-bug {
    color: #D71F38;
}

.fa-bug:hover {
    color: #9A201D;
}
