# Scripts for network node
cmd init_node
scripts etc_hosts.sh
osbash enable_vagrant_ssh_keys.sh
#osbash wait_debug.sh
# Using scripts/osbash/shutdown.sh because we want Vagrant to ignore this
osbash shutdown.sh
cmd boot
cmd wait_for_shutdown
cmd snapshot "network_configured"
scripts setup_neutron_network.sh
scripts shutdown.sh
cmd boot
cmd wait_for_shutdown
cmd snapshot "pre-installed"
